mixin music(music)
    a.music-mixin(href=`/music/${music._id}`)
        .music-img-cutter
            img(src=music.musicInfo.musicThumbnailSrc, alt="")
        .music-mixin__data
            p.music-mixin__title #{ music.title }
            p.music-mixin__artist #{ music.artist }
