// Config
@import "./config/reset.scss";

// Components
@import "./components/header.scss";
@import "./components/navbar.scss";
@import "./components/navbarjs.scss";
@import "./components/music.scss";
@import "./components/shared.scss";
@import "./components/musicVertical.scss";
@import "./components/forms.scss";

// Screens
@import "./screens/profile.scss";
@import "./screens/listen.scss";
@import "./screens/search.scss";

// Font
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap");

// Defaults

body {
    &::-webkit-scrollbar {
        display: none;
    }

    font-family: "Open Sans", "Noto Sans KR", sans-serif;

    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #89253e,
        #3a6186
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #89253e,
        #3a6186
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
