.homeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .recommendWrap {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 20px;
        .musicRecommendControl {
            display: flex;
            justify-content: space-between;
            height: 50px;
            .weatherDataWrap {
                display: flex;
                align-items: center;
                height: 50px;
                span {
                    font-size: 26px;
                    font-weight: 600;
                }
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            span {
                font-size: 26px;
                font-weight: 600;
            }
            button {
                height: 30px;
                display: flex;
                align-items: center;
                justify-self: center;
                cursor: pointer;
                background-color: transparent;
                color: white;
                padding: 5px 10px;
                border: none;
                border: 1px solid rgba(150, 150, 150, 0.5);
                border-radius: 15px;
                font-family: "Open Sans", "Noto Sans KR", sans-serif;
                &:hover {
                    background-color: rgba(150, 150, 150, 0.5);
                }
                &.cantmore {
                    cursor: default;
                    border: 1px solid rgba(150, 150, 150, 0.3);
                    color: rgba(150, 150, 150, 0.3);
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
