.homeWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .recommendWrap {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 20px;
        .musicRecommendControl {
            position: relative;
            height: 50px;
            span {
                position: absolute;
                bottom: 20px;
                left: 0px;
                font-size: 26px;
                font-weight: 600;
            }
            button {
                bottom: 20px;
                right: 0;
                cursor: pointer;
                position: absolute;
                background-color: transparent;
                color: white;
                padding: 5px 10px;
                border: none;
                border: 1px solid rgba(150, 150, 150, 0.5);
                border-radius: 15px;
                font-family: "Open Sans", "Noto Sans KR", sans-serif;
                &:hover {
                    background-color: rgba(150, 150, 150, 0.5);
                }
                &.cantmore {
                    cursor: default;
                    border: 1px solid rgba(150, 150, 150, 0.3);
                    color: rgba(150, 150, 150, 0.3);
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
