.profile__data {
    h3 {
        color: white;
        font-size: 26px;
        font-weight: 600;
        margin-top: 30px;
    }
}
#myMusicGrid {
    flex-wrap: wrap;
    overflow-x: unset;
    margin: 0 50px;
}
