.playlistContainer {
    .playlistInfoContainer {
        display: flex;
        margin-top: 75px;
        margin-left: 200px;
        .playlistImg {
            width: 250px;
            height: 250px;
            display: flex;
            flex-wrap: wrap;
            .playlistImgSmall {
                width: 125px;
                height: 125px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .playlistImgBig {
                width: 250px;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .playlistImgEmpty {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: lightgray;
                }
            }
        }
        .playlistInfo {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .playlistTitle {
                font-size: 48px;
                font-weight: 600;
            }
            .playlistCreator {
                color: lightgray;
            }
            .playlistLength {
                color: lightgray;
            }
            .playlistControlButtonContainer {
                a {
                    text-decoration: none;
                    background-color: rgb(24, 24, 24);
                    padding: 10px 14px;
                    border-radius: 20px;
                    span {
                        margin-right: 10px;
                    }
                }
                .playlistEdit {
                    margin-left: 20px;
                }
            }
        }
    }
    .musicList,
    .additionalList {
        margin: 50px 200px 0 200px;
        .playlistMusicMixin {
            display: flex;
            align-items: center;
            .playlistMusicAnchor {
                width: calc(100% - 30px);
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 10px 10px;
                position: relative;
                &:hover {
                    background-color: rgba(200, 200, 200, 0.2);
                }
                &:nth-child(n + 2) {
                    border-top: 1px solid rgba(211, 211, 211, 0.5);
                }
                .playlistMusicImgCutter {
                    width: 50px;
                    height: 50px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .playlistMusicTitle {
                    position: absolute;
                    left: 7%;
                }
                .playlistMusicArtist {
                    position: absolute;
                    left: 30%;
                    color: lightgray;
                }
                .playlistMusicGenre {
                    position: absolute;
                    left: 60%;
                    color: lightgray;
                }
            }
            .playlistMusicDeleteWrap {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: rgba(200, 200, 200, 0.2);
                }
            }
        }
        .playlistAddMusic {
            cursor: pointer;
            padding: 20px 10px;
            border-top: 1px solid lightgray;
            i {
                margin-right: 10px;
            }
            &:hover {
                background-color: rgba(200, 200, 200, 0.2);
            }
        }
        .reloadButtonContainer {
            display: flex;
            justify-content: center;
            button {
                font-family: "Open Sans", "Noto Sans KR", sans-serif;
                background-color: transparent;
                border: 1px solid lightgray;
                border-radius: 15px;
                padding: 5px 10px;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: rgba(200, 200, 200, 0.2);
                }
            }
        }
    }
}
