.defaultFormStyle {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    .formTopSpan {
        font-family: "Dancing Script", cursive;
        font-weight: 500;
        font-size: 20px;
        margin: 30px 0px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(24, 24, 32);
    padding: 30px;
    border-radius: 10px;
    input {
        height: 35px;
        border: 1px solid rgb(48, 48, 61);
        border-radius: 15px;
        background-color: rgb(24, 24, 32);
        color: white;
        width: 60%;
        padding: 5px;
        padding-left: 20px;
        &:nth-child(n + 2) {
            margin-top: 20px;
        }
    }
    input[type="submit"] {
        background: #3a6186; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #89253e,
            #3a6186
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #89253e,
            #3a6186
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-repeat: no-repeat;
        background-attachment: fixed;
        cursor: pointer;
        margin-top: 30px;
        width: 65%;
    }
    .formGoto {
        margin-top: 20px;
        span {
            color: rgb(186, 186, 188);
            margin-right: 5px;
        }
    }
}
