.music-mixin{
    text-decoration: none;
    .music-mixin__thumb{
        height: 140px;
        border-radius: 7px;
        width: 100%;
        background-color: ivory;
    }
    .music-mixin__data{
        color: black;
        margin-top: 5px;
        .music-mixin__title{
            margin-bottom: 20px;
        }
        .music-mixin__artist{
            margin-bottom: 20px;
        }
    }
}