.music__vertical-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .music__vertical {
        cursor: pointer;
        width: 90%;
        display: flex;
        margin: 3px 5%;
        padding: 5px 10px;
        .music__vertical-img-wrap {
            position: relative;
            width: 60px;
            height: 60px;
            img {
                position: absolute;
                border-radius: 5px;
                top: 0;
                left: 0;
                transform: translate(50, 50);
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        .music__vertical-mixin-data {
            width: 100%;
            padding-top: 10px;
            padding-left: 15px;
            p {
                color: white;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .music__vertical-mixin-artist-and-recommender {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .music__vertical-mixin-artist {
                    color: rgb(190, 190, 190);
                }
                .music__vertical-mixin-recommender-wrap {
                    span {
                        color: rgb(190, 190, 190);
                    }
                }
            }
        }
    }
}
