doctype html 
html(lang="ko")
    head 
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{pageTitle} | Chillin on the beat
    body 
        nav.none
            div.navTopDiv
                button.closeNavBtn 
                    i.fa-solid.fa-bars.fa-2x.navIcon 
                span.navTitle Chillin on the beat 
            a(href="/")#navHomeBtn 
                i.fa-solid.fa-house.fa-xl 
                span 홈
            a(href=`/users/${loggedInUser._id}`)#myPlayListBtn
                i.fa-solid.fa-list.fa-xl 
                span 내 재생목록
            a(href="")#otherRecommendBtn
                i.fa-solid.fa-thumbs-up.fa-xl 
                span 다른 유저의 추천 음악
            a(href="/search")#navHomeBtn 
                i.fa-solid.fa-magnifying-glass.fa-xl 
                span 검색
        main 
            header 
                button.openNavBtn
                    i.fa-solid.fa-bars.fa-2x 
                a(href="/").pageTitleA Chillin on the beat 
                if loggedIn
                    a(href="/music/upload").uploadA 음악 추천하기
                    a(href="/users/edit-profile").editprofA 계정 관리
                    a(href="/users/logout").logoutA 로그아웃
                else
                    a(href="/join").joinA 가입
                    a(href="/login").loginDiv 로그인
            block section
        div.blurDiv
    script(src="/assets/js/main.js")