extends base.pug
include mixins/music
include mixins/userListenedMusic
include mixins/timeMusic
include mixins/homePlaylists

block section
    .homeWrap
        .musicThatRandom.recommendWrap
            .musicRecommendControl
                span.musicRecommendTitle 랜덤 음악
                if cantMoreRandom
                    button#randomMoreButton.cantmore 더 보기
                else
                    button#randomMoreButton 더 보기
            #randomGrid.music-grid
                each music in randomMusicList
                    +music(music)
                else
                    span.empty__message 음악을 찾을 수 없습니다.

        .musicThatUserListened.recommendWrap
            .musicRecommendControl
                span.musicRecommendTitle 다시 듣기
                if cantMoreListened
                    button#listenedMoreBtn.cantmore 더 보기
                else
                    button#listenedMoreBtn 더 보기
            #listenedGrid.music-grid
                each music in userListenedMusics
                    +userListenedMusic(music)
                else
                    span.empty__message 음악을 들었던 기록이 없습니다.

        .musicThatUserWeather.recommendWrap
            .musicRecommendControl
                .weatherDataWrap
                    span#weatherTitle.musicRecommendTitle 날씨추천
                    img.weatherIcon(src="", alt="")
                button#weatherMoreBtn 더 보기
            #weatherGrid.music-grid

        .musicThatUserTime.recommendWrap
            .musicRecommendControl
                span#timeTitle.musicRecommendTitle= timeTitle
                if timeList.length < 7
                    button#timeMoreBtn.cantmore 더 보기
                else
                    button#timeMoreBtn 더 보기
            #timeGrid.music-grid
                each music in timeList
                    +timeMusic(music)
                else
                    span.empty__message 음악을 찾을 수 없습니다.

        .recommendWrap
            .musicRecommendControl
                span.musicRecommendTitle 플레이리스트
                if playlists.length < 7
                    button#playlistMoreBtn.cantmore 더 보기
                else
                    button#playlistMoreBtn 더 보기
            #playlistGrid.music-grid
                each playlist in playlists 
                    +homePlaylists(playlist)
                else
                    span.empty__message 플레이리스트를 찿을 수 없습니다.

        //- 예정 (최근에 추천된)

block scripts
    script(src="/assets/js/home.js") 
