extends base.pug
include mixins/searchMusic

block section
    .search-wrap
        form.search__form.defaultFormStyle(method="GET")
            .searchOptionContainer
                select#select
                    option(value="title") 제목
                    option(value="artist") 아티스트
                    option(value="genre") 장르
                span.searchFormTopSpan 으로 검색
            input#searchInput(
                name="titleKeyword",
                type="text",
                placeholder="제목으로 검색"
            )
            button
                i.fas.fa-search.fa-xl

    .music__search-list
        each music in musics
            +searchMusic(music)
        else
            span.empty_message 음악을 찾을 수 없습니다.

block scripts
    script(src="/assets/js/search.js") 
