extends ../base.pug
include ../mixins/music

block section
    .profile__data
        h3= user.username
    #myMusicGrid.music-grid(data-userdata=user._id)
        each music in user.musics
            +music(music)
        else
            span.empty__message 음악이 없습니다.
